@import "variable";
@import "mixins";

body{
    font-family: @roboto;
    font-size: 16px;
    color: #050500;
}
nav{
    background-color: @yellow;
    height: 100px;
    ul{
        li{
            display: inline;
        }
    }
}
.header{
    width: @width;
    height: 200px;
    background-image: url(../img/banner-bg-2.jpg);
    background-repeat: repeat;
    img{
        max-width: 200px;
    }
}
.btn-primary {
    color: @black;
    background-color: @yellow;
    border-color:@yellow;
    &:hover{
        background-color: @yellow;
        border-color: @yellow;
    }
}
h2{
    font-weight:500;
    font-size:30px ;
    text-transform: uppercase;
    padding-top: 2rem;
}
.heading-red{
    color: #ee252f;
}
.best-burgers{
    padding-bottom: 1.7rem;
    img{
        padding: 2.5rem 2rem;
    }
}
.dine-in{
    background-color: @white;
    img{
        padding: 1.5rem 2rem 1.5rem 3rem;
    }
}
footer{
    background-color: @black;
    height: 100px;
    img{
        max-width: 200px;
        margin: auto;
    }
}
.border-top {
    border-top: 8px solid @yellow !important;
}
