@import "variable";
@import "mixins";

body{
    font-family: @roboto;
    font-size: 16px;
    color: #050500;
}
nav{
    display: flex;
    align-items: center;
    background-color: @yellow;
    height: 70px;
    ul{
        li{
            display: inline;
            font-weight: 500;
            font-size: 18px;
            padding: 0 .75rem;
        }
        li:hover{
            color: @red;
        }
        margin: 0 0;
    }
}
.header{
    width: @width;
    height: 250px;
    background-image: url(../img/banner-bg-2.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    img{
        margin: auto;
        max-width: 300px;
        padding-bottom: 1rem;
    }
    .btn-primary{
        width: 125px;
        margin: auto;
    }
}
.btn-primary {
    color: @black;
    text-transform: uppercase;
    background-color: @yellow;
    border-color:@yellow;
    &:hover{
        background-color: @yellow;
        border-color: @yellow;
    }
}
h2{
    font-weight:500;
    font-size:30px ;
    text-transform: uppercase;
    padding-top: 2rem;
}
span{
    .heading-red();
}
.best-burgers{
    padding-bottom: 1.7rem;
    img{
        padding: 2.5rem 2rem;
    }
}
.dine-in{
    background-color: @white;
    img{
        padding: 1.5rem 2rem 1.5rem 3rem;
    }
}
footer{
    background-color: @black;
    height: 100px;
    display: flex;
    img{
        max-width: 200px;
        margin: auto;
    }
    .border-top();
}

